<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="demo"></div>
<div id="demo1"></div>
<script>
      function myFunc(myObj) {
          document.getElementById("demo1").innerHTML = myObj.name;
      }
</script>
<script src="http://localhost:3001/id"></script>